<div class="category-sidebar">
    <div class="category-sidebar__list__title">
        <div class="category-sidebar__list-item--title">Report categories</div>
    </div>

    {% set isDefaultCategoryActive = currentCategoryId is null or currentCategoryId == -1 %}
    {% set defaultActive = isDefaultCategoryActive ? '1' : '0' %}
    <div class="category-sidebar__list-item {% if isDefaultCategoryActive %}category-sidebar__list-item--active{% endif %}" data-id="-1" data-active="{{ defaultActive }}" data-isDefault="true">
        <div class="category-sidebar__list-item--text">All categories</div>
    </div>
    {% for category in categoryTree %}
        {% set activeCategory = category.isActiveTree ? '1' : '0' %}
        {% set activeClass = category.isActiveTree ? 'category-sidebar__list-item--active' : '' %}

        <div class="category-sidebar__list-item {{ activeClass }}" data-id="{{ category.catId }}" data-active="{{ activeCategory }}" data-isDefault="false">
            <div class="category-sidebar__list-item--text">{{ category.catName }}</div>
        </div>
    {% endfor %}
</div>
