{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}
{% import _self as view %}

{% block headTitle %}
    {{ 'Blade Fx' | trans }}
{% endblock %}

{% block content %}

    <web-mp-bfx-reports
        cloak
        table-id="web-mp-bfx-reports"
        table-config='{{ guiTableConfiguration(bfxReportsTableConfiguration) }}'>
        <h1 title>{{ 'Reports' | trans }}</h1>
    </web-mp-bfx-reports>


{% endblock %}

{% block footerJs %}
    {{ view.importJsBundle('bfx-reports-merchant-portal-gui', importConfig) }}
    {{ parent() }}
{% endblock %}
